.search-item{
  display: flex;
  height: 200px;
  padding: 20px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  .search-image{
     width: 250px;
     height: 100px;
  }
  .item-title{
    width: 340px;
    height: 100px;
    display: block;
  }
}
